body{
    font-family: "Montserrat";
}
.dark{
    font-family: "Montserrat";
    font-weight: 900;
}
#title{
    background-color: #ff4c68;
    color:#fff;         /* #fff is short for white and 000 is short for  black. */
}
h1{
    font-family: 'Montserrat-Black';
    font-size:3.5rem; 
    line-height:1.5;
}
.container-fluid{
    padding: 3% 15% 7%;
}


/* navbar section  */


.navbar-brand{

    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight:bold ;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family:"Montserrat";
    font-size: 1.2rem;
}
.download-button{
    margin: 5% 3% 5% 0;
} 
.navbar{
    padding-bottom:4.5rem;
}
.title-img{
    width: 23%;
    transform: rotate(25deg); /* transform is a property that in witch there is a rotate function and you need to write the angle of tilt that's it. ; */
    position: absolute;
    left: 51%;

}

/* features section  */

#features{

    padding: 7% 15%;
    font-size: 1.5rem;
    background-color: #fff;
    position: relative;
    
    

}
h3{
    font-family:"montserrat";
    font-weight: bold;
    
}
.symbol{
    color: #ef8172;
    margin-bottom: 1rem;
    
}
.symbol:hover{
    color:#ff4c68 ;
}
.features-box{
    text-align: center;
    padding:4.5%;
}
p{
    color: #8f8f8f;
    font-size: large;
}
#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color:#fff;
}
h2{
    font-family:"montserrat";
    font-size: 3rem;
    font-weight: 550;
    line-height: 1.5;
}
.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin: 20px;
    text-align: center;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom:3%;
}
.press-imgs{
    width: 15%;
    margin: 20px;
}
.carousel-item{
padding: 7% 15%;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricingcol{
    padding: 3% 2%;
}
@media(max-width:1028px) { 
    .title-img{
        position:static;
        width: 70%;
        transform: rotate(0);
        }
    #title{
        text-align: center;
    }
}
#cta{
    background-color: #ff4c68;
    font-family:"montserrat";
    font-weight: 900;
    padding: 7% 15%;
    text-align: center;

}
.cta-heading{
    font-size: 2.55rem;
    color: #fff;
}
#footer{
    background-color: #fff;
    text-align: center;
    padding: 3% 15%;
}
.foot{
    margin: 20px 10px;
}